#okhre {
    width:40%;
    height: 2rem;
    outline:none;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}

.table-box {
    max-height: 400px;
    max-width: 40%;
    overflow-y: auto;
}

h1 {
    display:flex;
    justify-content: center;
}